/*Chris's website - GPLv3 - v1.1*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
body {margin:0;background-color:#545454;color:#eeeeee;font-family:Roboto;font-weight:400;font-size:16px;}
a {color:#0080ff;text-decoration:none;}
a:hover {color:#9900cc;}
.nav {padding:2px;font-size:18px;width:100%;position:fixed;background:#010101;border:solid 1px #333333;}
.nav a {padding:2px;padding-left:5px;padding-right:5px;color:#0080ff;text-decoration:none;font-weight:300;}
.nav a:hover {background-color:#212121;}
.navcontainer {margin:auto;max-width:800px;}
.content {margin:auto;max-width:800px;background-color:#222222;padding:12px;}
.footer {font-size:12px;text-align:center;}
